@charset "UTF-8";
/* CSS Document */
.carousel-inner img{
	width:100%;
}
.carousel-caption{
	top:10%;
}
.form-inline{
	margin-left:25%
}
.container{
	margin-bottom:200px;
}

@media (max-width:375px){
  .nenbanner img{
      height:100% !important;
	  margin-bottom: 0px !important;
}
	.icon-item{
		margin-top: 0px !important;
}
    .bannertext h1{
		font-size: 100% !important;
}
}